:root{
    --bg-bleu: #00A4EB;
    --bg-red:#EB0000;
    --length_label: 40px;
    --big-score-screen-length: 400px;
    --bg-black: #212529;
    --width_table_score: calc(var(--big-score-screen-length) * 2);
    --gold: #cdc21a;
}

@font-face {
    font-family: 'PublicSans';
    src: url("/fonts/PublicSans-VariableFont_wght.ttf") format('truetype');
}
@font-face {
    font-family: 'KhmerOsMoulLight';
    src: url("/fonts/KhmerOS_muollight.ttf") format('truetype');
}
@font-face {
    font-family: 'Transformers';
    src: url("/fonts/Transformers-Movie.ttf") format('truetype');
}
@font-face {
    font-family: 'Juventus';
    src: url("/fonts/Juventus-Fans-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}

.wraper{
    /*border: 1px solid black;*/
    /*display: flex;*/
}
.score_panel{
    alignment: center;
    /*border: 1px solid red;*/
    font-size: 30px;

}
.border{
    border: 1px solid gray;
}
.fullscreen{
    /*font-size: 30px;*/
    padding-left: 20px;
}
.score_content{
    text-align: center;
    padding: 30px;
}
.bleu_label{
    border: 1px solid var(--bg-bleu);
    width: var(--length_label);
    height: var(--length_label);
    background-color: var(--bg-bleu);
    border-radius: 10px;
}
.parent_div{
    height: auto;
    /*border: 1px solid red;*/
}
.hh{
    /*height: 50px;*/
}
.red_label{
    border: 1px solid var(--bg-red);
    width: var(--length_label);
    height: var(--length_label);
    background-color: var(--bg-red);
    border-radius: 10px;
}
.blue-text{
    color: var(--bg-bleu);
}
.red-text{
    color: var(--bg-red);
}
.btn-purple{
    background-color: purple;
    color: white;
}
.red_score_box,.bleu_score_box{
    /*border: 1px solid black;*/
    height: var(--big-score-screen-length);
    width: var(--big-score-screen-length);
}
.bleu_score_box{
    background-color: var(--bg-bleu);
}
.red_score_box{
    background-color: var(--bg-red);
}
.bg-red{
    background-color: var(--bg-red);
}
.bg-bleu{
    background-color: var(--bg-bleu);
}
.unknown{
    width: var(--big-score-screen-length);
    /*height: 70px;*/
}
.timer_box{
    width: var(--big-score-screen-length);
}
.table_score{
    width: var(--width_table_score);
}
.fs-large{
    font-size: 150px;
    line-height: 1;
}
.expand_icon{
    /*top: -90px;*/
    left: 10px;
    border: 1px solid grey;
    display: inline-block;
}
.letter{
    font-family: Montserrat, sans-serif;
    line-height: initial;
    font-size: 40rem;
    color: var(--bg-red);
}
.countdown-10{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pole_wrapper{
    position: relative;
}
/* circle */
.circle {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    /*font-weight: bold;*/
    text-align: center;
}
.red_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 60px;
    /*font-weight: bold;*/
    text-align: center;
}
.blue_small_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /*cursor: pointer;*/
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.blue_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 60px;
    /*font-weight: bold;*/
    text-align: center;
}
.red_small_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /*cursor: pointer;*/
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.top-1{
    top: 5px;
}
.start-1{
    left: 5px;
}

.red {
    background-color: var(--bg-red);
    color: white;
}

.blue {
    background-color: var(--bg-bleu);
    color: white;
}
.outline_red{
    border: 5px solid var(--bg-red);
}
.outline_blue{
    border: 5px solid var(--bg-bleu);
}

.vertical_wrapper{
    height: 500px;
    /*border: 1px solid red;*/
}
/* Define the animation */
@keyframes color-change {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

/* Apply the animation to the element */
.winner_animation_text {
    font-size: 5rem;
    color: black;
    animation: color-change 1s infinite;
    -webkit-text-stroke: 2px black;
    /*transition: none;*/
}
.chey_yo_modal_bg{
    height: 100%;
    /*border: 1px solid blue;*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
}
.chey_yo_content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.letter_score{
    font-family: Transformers, sans-serif;
    font-size: 20rem;
    -webkit-text-stroke: 2px black;
    /*border: 1px solid red;*/
    line-height: 0.8;
    /*opacity: unset;*/
    color: white;
}
.letter_pole{
    font-size: 8rem;
    /*border: 1px solid black;*/
    font-weight: 500;
    line-height: 1;
}
.letter_timer{
    font-size: 15rem;
    /*border: 1px solid green;*/
    line-height: 1.2;
    font-family: Transformers, sans-serif;
    /*color: var(--gold);*/
    color: black;
}
.letter_team_name{
    font-size: 100px;
    /*border: 1px solid red;*/
    line-height: 1;
    padding: 10px;
    color: white;
    font-family: Juventus, sans-serif;
    -webkit-text-stroke: 2px black;
}
.current{
    color: white !important;
    border: 1px solid var(--bg-bleu);
    background-color: var(--bg-bleu) !important;
}
.nav-link:hover{
    background-color: lightgray;
}
.pole_wrapper .pole_note{
    color: lightgray;
    position: absolute;
    right: 5px;
    bottom: 0;
}
.h-30{
    height: 30%;
}
.red_area{
    background-color: var(--bg-red);
    opacity: 0.2;
}
.blue_area{
    background-color: var(--bg-bleu);
    opacity: 0.2;
}

@media screen and (max-width: 980px) {
    .container{
        max-width: 97% !important;
    }
}

#reset-score{
    width: 80px;
}

.robocon23_logo{
    width: 264px;
    height: 92px;
    object-fit: cover;
}
.title_robocon_in_khmer{
    font-family: KhmerOsMoulLight!important;
}
.below_score_board_section{
    height: 30%;
}
.angle_round{
    border-radius: 6px;
}
.bg-black{
    background-color: var(--bg-black);
}
.bg_of_score_number{
    /*background-color: var(--bg-black);*/
    /*opacity: 30%;*/
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Opacity of 30% */
}
.h-60{
    height:60%!important
}
.h-65{
    height:65%!important
}
.w-70{
    width: 70% !important;
}

.small-image{
    border: 2px solid white;
    width: 30px;
    border-radius: 5px;
}
.title_of_score_board{
    right: 20px;
    top: 30px;
}
.team_name_row{
    top: 170px;
}
.country_flag{
    /*border: 2px solid white;*/
    /*width: 70px;*/
    height: 70px;
}
.country_flag_with_border{
    border: 2px solid white;
    /*width: 70px;*/
    height: 70px;
}
.team_pole_row{
    top: 660px;
}
.ps-20{
    padding: 0 0 0 400px ;
}

.pe-20{
    padding: 0 400px 0 0 ;
}
.timer_row{
    top: 600px;
}
.team_score_row{
    top: 300px;
}
.pe-18{
    padding: 0 0 0 250px ;
}

.ps-18{
    padding: 0 250px 0 0 ;
}
.ms-20{
    margin: 0 0 0 250px ;
}

.ms-18{
    margin: 0 0 0 150px ;
}

.field-pattern{
    height: 190px;
}
.field_pattern_wrapper{
    top: 60px;
}
.field_pattern_container{
    width: 230px;
    height: 190px;
    margin-left: 159px;
}
.ring_pole{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.bg-red{
    background-color: var(--bg-red);
}
.bg-blue{
    background-color: var(--bg-bleu);
}
.close_point_letter{
    top: 280px;
    left: 0;
}
.close_red{
    height: 100px;
    width: 400px;
    /*border: 1px solid yellow;*/
    background-color: #f71314;
}
.close_blue{
    height: 100px;
    width: 400px;
    /*border: 1px solid yellow;*/
    background-color: #2d37f9;
}
