:root{
    --bg-bleu: #00A4EB;
    --bg-red:#EB0000;
    --length_label: 40px;
    --big-score-screen-length: 400px;
    --bg-black: #212529;
    --width_table_score: calc(var(--big-score-screen-length) * 2)
}

@font-face {
    font-family: 'PublicSans';
    src: url("/fonts/PublicSans-VariableFont_wght.ttf") format('truetype');
}
@font-face {
    font-family: 'KhmerOsMoulLight';
    src: url("/fonts/KhmerOS_muollight.ttf") format('truetype');
}
* {
    font-family: PublicSans, sans-serif;
}
.wraper{
    /*border: 1px solid black;*/
    /*display: flex;*/
}
.score_panel{
    alignment: center;
    /*border: 1px solid red;*/
    font-size: 30px;

}
.border{
    border: 1px solid gray;
}
.fullscreen{
    /*font-size: 30px;*/
    padding-left: 20px;
}
.score_content{
    text-align: center;
    padding: 30px;
}
.bleu_label{
    border: 1px solid var(--bg-bleu);
    width: var(--length_label);
    height: var(--length_label);
    background-color: var(--bg-bleu);
    border-radius: 10px;
}
.parent_div{
    height: auto;
    /*border: 1px solid red;*/
}
.hh{
    /*height: 50px;*/
}
.red_label{
    border: 1px solid var(--bg-red);
    width: var(--length_label);
    height: var(--length_label);
    background-color: var(--bg-red);
    border-radius: 10px;
}
.blue-text{
    color: var(--bg-bleu);
}
.red-text{
    color: var(--bg-red);
}
.btn-purple{
    background-color: purple;
    color: white;
}
.red_score_box,.bleu_score_box{
    /*border: 1px solid black;*/
    height: var(--big-score-screen-length);
    width: var(--big-score-screen-length);
}
.bleu_score_box{
    background-color: var(--bg-bleu);
}
.red_score_box{
    background-color: var(--bg-red);
}
.bg-red{
    background-color: var(--bg-red);
}
.bg-bleu{
    background-color: var(--bg-bleu);
}
.unknown{
    width: var(--big-score-screen-length);
    /*height: 70px;*/
}
.timer_box{
    width: var(--big-score-screen-length);
}
.table_score{
    width: var(--width_table_score);
}
.fs-large{
    font-size: 150px;
    line-height: 1;
}
.expand_icon{
    top: 0;
    left: 10px;
}
.letter{
    line-height: initial;
    font-size: 10rem;
    color: var(--bg-red);
}
.countdown-10{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border: 1px solid red;*/
}
.pole_wrapper{
    position: relative;

}
.circle {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    /*font-weight: bold;*/
    text-align: center;
}

.red {
    background-color: var(--bg-red);
    color: white;
}

.blue {
    background-color: var(--bg-bleu);
    color: white;
}
.outline_red{
    border: 3px solid var(--bg-red);
}
.outline_blue{
    border: 3px solid var(--bg-bleu);
}

.vertical_wrapper{
    height: 300px;
}
/* Define the animation */
@keyframes color-change {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

/* Apply the animation to the element */
.winner_animation_text {
    font-size: 3rem;
    color: black;
    animation: color-change 1s infinite;
    -webkit-text-stroke: 2px black;
    /*transition: none;*/
}
.chey_yo_modal_bg{
    height: 420px; /*200%*/
    /*border: 1px solid blue;*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.chey_yo_content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.letter_score{
    font-size: 6rem;
    /*border: 1px solid red;*/
    line-height: 0.8;
    /*opacity: unset;*/
    color: white;
}
.letter_pole{
    font-size: 3rem;
    /*border: 1px solid black;*/
    font-weight: 500;
    /*line-height: 1;*/
}
.letter_timer{
    font-size: 4rem;
    /*border: 1px solid green;*/
    line-height: 1.2;

}
.letter_team_name{
    font-size: 40px;
    /*border: 1px solid red;*/
    line-height: 1;
    padding: 10px;
}
.current{
    color: white !important;
    border: 1px solid var(--bg-bleu);
    background-color: var(--bg-bleu) !important;
}
.nav-link:hover{
    background-color: lightgray;
}
.pole_wrapper .pole_note{
    color: lightgray;
    position: absolute;
    right: 5px;
    bottom: 0;
}
.red_area{
    background-color: var(--bg-red);
    opacity: 0.2;
}
.blue_area{
    background-color: var(--bg-bleu);
    opacity: 0.2;
}

@media screen and (max-width: 980px) {
    .container{
        max-width: 97% !important;
    }
}

#reset-score{
    width: 80px;
}

.robocon23_logo{
    width: 130px;
    height: 60px;
    object-fit: cover;
}
.title_robocon_in_khmer{
    font-family: KhmerOsMoulLight!important;
    font-size: 15px;
}
.below_score_board_section{
    height: 30%;
}
.angle_round{
    border-radius: 6px;
}
.bg-black{
    background-color: var(--bg-black);
}
.bg_of_score_number{
    /*background-color: var(--bg-black);*/
    /*opacity: 30%;*/
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Opacity of 30% */
}
.h-60{
    height:60%!important
}
.h-65{
    height:65%!important
}
.w-70{
    width: 70% !important;
}
.vh-50{
    height: 49vh;
}
.vh-45{
    height: 40vh;
}
#score_new{
    width: 700px;
    height: 420px;
/*ratio 3:5*/
}
.score_board_display_section{
    height: 240px;
}
#countdown_prepare_div {
    height: 420px;
}
