:root {
    --bg-bleu: #00A4EB;
    --bg-red: #EB0000;

}
@font-face {
    font-family: 'Baphnom';
    src: url("/fonts/Kh Baphnom 01.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}
.score_wrapper{
    top: 4%;
}
.score_container{
    width: 55%;
    font-weight: bold;
    font-family: Montserrat,sans-serif;
    font-size: 70px;
}
.team_name_wrapper{
    top: 5%;
}
.team_name_container{
    width: 55%;
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: white;
}
.timer_wrapper{
    top: 11.5%;
}
.timer_container{
    width: 55%;
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}
.pole_number_wrapper{
    top: 12%;
}
.pole_number_container{
    width: 55%;
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}
.score_number{
    width: 12%;
}

.flag_wrapper{
    top: 5.1%;
}
.flag_container{
    width: 55%;
}

.margin-end-red-name{
    margin-right: 170px;
}
.margin-start-blue-name{
    margin-left: 150px;
}
.team_flag{
    height: 80px;
    width: auto;
}
.margin-end-red-pole{
    margin-right: 130px;
}
.margin-start-blue-pole{
    margin-left: 102px;
}
.margin-end-red-score{
    margin-right: 80px;
}
.margin-start-blue-score{
    margin-left: 105px;
}
.margin-start-red-flag{
    margin-left: 85px;
}
.margin-end-blue-flag{
    margin-right: 98px;
}

.field_pattern_wrapper{
    top: 78.2%;
}
.field_pattern_container{
    width: 230px;
    height: 180px;
    margin-left: 93px;
}
.ring_pole{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.bg-red{
    background-color: var(--bg-red);
}
.bg-blue{
    background-color: var(--bg-bleu);
}
/* Apply the animation to the element */
.winner_animation_text {
    font-size: 3.5rem;
    color: black;
    animation: color-change 1s infinite;
    -webkit-text-stroke: 2px black;
    /*transition: none;*/
}
/* Define the animation */
@keyframes color-change {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}
